<div class="form-group">
    <label for="cape-classes">Classifications</label>
    <div id="cape-classes">
        <md-lists>
            <md-list-items ng-repeat="item in powers">
                <div class="row">
                    <div class="col-xs-4">
                        <select ng-model="item.classification" class="form-control">
                            <option ng-repeat="power in defaultClasses">{{power}}</option>
                        </select>
                    </div>
                    <div class="col-xs-2">
                        <input type="number"
                               id="class-power-level"
                               min="-3" max="13" step="1" value="0"
                               ng-model="item.rating"
                               class="form-control">
                    </div>
                    <div class="col-xs-2">
                        <button ng-click="removePower(item)">-</button>
                    </div>
                </div>
            </md-list-items>
        </md-lists>
    </div>
</div>