<table>
    <tbody>
    <tr>
        <th colspan="2">Is a ranged, offensive threat.</th>
    </tr>
    <tr>
        <th>Threat Level</th>
        <th>Estimation</th>
    </tr>
    <tr>
        <td>2+</td>
        <td>
            <ul>
                <li>
                    The team is notified as to Blaster classification so they can take cover at the next opportunity.
                </li>
                <li>
                    Frequent reporting on Blaster’s location and the likely direction of fire is encouraged.
                </li>
                <li>
                    Suppression of ranged fire is encouraged but not mandated.
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>5+</td>
        <td>
            <ul>
                <li>
                    Resources and/or personnel are devoted to pressuring the Blaster, keeping them moving and focused on a target to protect other personnel.
                </li>
                <li>
                    Truck-mounted emplacements may be necessary to apply sufficient pressure.
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>9+</td>
        <td>
            <ul>
                <li>
                    Evacuation of the likely firing zone is prioritized
                </li>
                <li>
                    Responding to a high-caliber ranged threat is likely to necessitate a matching response if civilians or property are endangered
                </li>
                <li>
                    Inter-city missiles and other large-scale weapons are authorized.
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>