<table>
    <tbody>
    <tr>
        <th colspan="2">Has enhanced strength or durability.</th>
    </tr>
    <tr>
        <th>Threat Level</th>
        <th>Estimation</th>
    </tr>
    <tr>
        <td>2+</td>
        <td>
            <ul>
                <li>
                    The team is notified of a Brute classification.
                </li>
                <li>
                    It's assume divided fire will not have any serious effect, and focused fire is devoted to the target.
                </li>
                <li>
                    Treated as low priority unless movements cannot be restricted, in which case the brute can be escalated to moderate priority.
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>5+</td>
        <td>
            <ul>
                <li>
                    It's assumed standard munitions are unable to hamper the target.
                </li>
                <li>
                    Lethal munitions are authorized, truck emplacements are authorized.
                </li>
                <li>
                    Property damage should be expected and accounted for. Where possible, move fight to an open area.
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>9+</td>
        <td>
            <ul>
                <li>
                    Inter-city missiles and other large-scale weapons are authorized.
                </li>
                <li>
                    It's assumed standard parahuman abilities are unable to hamper the target.
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>