<table>
    <tbody>
    <tr>
        <th colspan="2">Can alter their form or appearance.</th>
    </tr>
    <tr>
        <th>Threat Level</th>
        <th>Estimation</th>
    </tr>
    <tr>
        <td>2+</td>
        <td>
            <ul>
                <li>
                    The team is notified as to Changer classification
                </li>
                <li>
                    Basic "eyes on" protocols are initiated, with team members maintaining constant eye contact with one another, while also keeping eyes on the Changer.
                </li>
                <li>
                    Changers are never assumed to be unarmed.
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>5+</td>
        <td>
            <ul>
                <li>
                    Full eyes on protocols and verbal passwords are put into effect.
                </li>
                <li>
                    No facility, locked down or otherwise, is assumed to be impregnable.
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>