<table>
    <tbody>
    <tr>
        <th>Threat Level</th>
        <th>Estimation</th>
    </tr>
    <tr>
        <td>1</td>
        <td>
            <ul>
                <li>
                    Poses a threat only just above human norms,
                    an unexceptional individual may be able to cope
                    with the ability or walk away unharmed from an
                    altercation where the abilities in question were leveraged.
                </li>
                <li>
                    The ability should assumed to be a non-threat and
                    need not be identified if other matters prove more pressing.
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>
            <ul>
                <li>
                    An alert, exceptional, well equipped, or trained individual
                    should be able to answer or address the ability in question,
                    but it can prove problematic.
                </li>
                <li>
                    Team members are reminded of standard countermeasures and
                    should put these measures in effect when there are no pressing
                    other matters.
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>3</td>
        <td>
            <ul>
                <li>
                    Civilians, even alert or fit civilians, will not be able to handle the ability or abilities in question.
                </li>
                <li>
                    Several trained individuals may be required to deal with the situation.
                </li>
                <li>
                    Care should be taken to remove civilians from the area and discourage them from participating.
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>4</td>
        <td>
            <ul>
                <li>
                    One full squad of trained operatives should be able to deal with this situation alone, but exceptional circumstance, context and environment may bias things one way or the other.
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>5</td>
        <td>
            <ul>
                <li>
                    Additional countermeasures come into effect.
                </li>
                <li>
                    A typical parahuman or one parahuman assisting a squad of operatives should be able to deal with the power in question.
                </li>
                <li>
                    Operatives can engage until assistance arrives.
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>6</td>
        <td>
            <ul>
                <li>
                    A typical trained parahuman or one parahuman assisting a squad of operatives should be able to deal with the power in question.
                </li>
                <li>
                    Operatives should postpone engagement.
                </li>
                <li>
                    Parahumans and operatives should assume that traditional actions are going to be met by a complication.
                </li>
                <li>
                    Acquiring further intel is recommended where possible, but not mandated.
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>7</td>
        <td>
            <ul>
                <li>
                    Parahumans should engage in pairs or trios at a minimum, two fully equipped squads should be deployed.
                </li>
                <li>
                    Acquiring further intel is mandated, all acting parties should shift to the defensive or delay until intel can be acquired.
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>8</td>
        <td>
            <ul>
                <li>
                    Evacuation of civilians should take priority for all squad members
                </li>
                <li>
                    Engaging should be avoided outside of specific missions and tasks.
                </li>
                <li>
                    Parahumans should engage only when supported by their team to ensure a minimum of complications or danger
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>9</td>
        <td>
            <ul>
                <li>
                    Assume extreme complications, with standard tactics not applying, or the power in question having an additional factor that exaggerates its effect.
                </li>
                <li>
                    Parahumans and PRT should evacuate where possible, and should only engage when a specific mission and strategy has been outlined.
                </li>
                <li>
                    Major countermeasures should take effect.
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>10+</td>
        <td>
            <ul>
                <li>
                    In the event of a serious confrontation, additional teams or specific high-rated individuals should be called in to manage the crisis.
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>