<table>
    <tbody>
    <tr>
        <th>Threat Level</th>
        <th>Estimation</th>
    </tr>
    <tr>
        <td>1</td>
        <td>
            <ul>
                <li>
                    Poses a threat only just above human norms,
                    an unexceptional individual may be able to cope
                    with the ability or walk away unharmed from an
                    altercation where the abilities in question were leveraged.
                </li>
                <li>
                    the ability should assumed to be a non-threat and
                    need not be identified if other matters prove more pressing.
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>