<table>
    <tbody>
    <tr>
        <th colspan="2">Can control others or create minions</th>
    </tr>
    <tr>
        <th>Threat Level</th>
        <th>Estimation</th>
    </tr>
    <tr>
        <td>2+</td>
        <td>
            <ul>
                <li>
                    Team is notified as to Master classification
                </li>
                <li>
                    The Master is prioritized as a target, with their likely location regularly communicated to the team and oversight, to allow expedient removal.
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>5+</td>
        <td>
            <ul>
                <li>
                    Assuming nonhuman, non-sapient minions, full lethal munitions are authorized against any massed forces.
                </li>
                <li>
                    In case of controlled humans, all standard "eyes-on" protocols are in effect.
                </li>
                <li>
                    Passwords are in effect.
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>9+</td>
        <td>
            <ul>
                <li>
                    Inter-city missiles and other large-scale weapons are authorized.
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>