<table>
    <tbody>
    <tr>
        <th colspan="2">Has a power enhancing mobility.</th>
    </tr>
    <tr>
        <th>Threat Level</th>
        <th>Estimation</th>
    </tr>
    <tr>
        <td>2+</td>
        <td>
            <ul>
                <li>
                    The team is notified of a Mover classification
                </li>
                <li>
                    Where possible, the fight should be moved to a contained area where free-ranging movement is less effective, targeting objectives or other threats to draw attention and focus.
                </li>
                <li>
                    The area should locked down.
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>5+</td>
        <td>
            <ul>
                <li>
                    Containment is assumed to be impossible.
                </li>
                <li>
                    Clearance is granted for truck-mounted nonlethal measures (net launchers, foam sprayers) that might otherwise inconvenience locals.
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>9+</td>
        <td>
            <ul>
                <li>
                    Higher office and PRT offices in nearby or neighboring cities should be notified of a possible threat or retaliation in case of confrontation.
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>