<table>
    <tbody>
    <tr>
        <th colspan="2">Has a power with an area of effect.</th>
    </tr>
    <tr>
        <th>Threat Level</th>
        <th>Estimation</th>
    </tr>
    <tr>
        <td>2+</td>
        <td>
            <ul>
                <li>
                    The team is notified of a Shaker classification.
                </li>
                <li>
                    Where possible, the fight's location should be changed with some regularity, to slow the enemy's ability to control the a battlefield.
                </li>
                <li>
                    The Shaker should be considered a high priority threat, and should be baited out and taken out of action.
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>5+</td>
        <td>
            <ul>
                <li>
                    All individuals should remain as mobile as possible, operating alone or in pairs.
                </li>
                <li>
                    The area should be evacuated, personnel are warned not to rely too much on cover, environmental advantages, or situational advantages.
                </li>
                <li>
                    Confrontations should be drawn out, leaving an area when identified.
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>9+</td>
        <td>
            <ul>
                <li>
                    Evacuation takes utmost priority.
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>