<table>
    <tbody>
    <tr>
        <th colspan="2">Focuses on stealth or infiltration.</th>
    </tr>
    <tr>
        <th>Threat Level</th>
        <th>Estimation</th>
    </tr>
    <tr>
        <td>2+</td>
        <td>
            <ul>
                <li>
                    The team is notified of a Stranger classification.
                </li>
                <li>
                    Areas may be secured and "taped", to track movement through doors or windows.
                </li>
                <li>
                    Passwords are used
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>5+</td>
        <td>
            <ul>
                <li>
                    Constant communication between every team member and a relay in the operations room is implemented, complete with personal passwords.
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>9+</td>
        <td>
            <ul>
                <li>
                    Nonlethal shoot-on-sight is implemented for anyone who goes "dark" for any period of time.
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>