<table>
    <tbody>
    <tr>
        <th colspan="2">Has a power that is melee-ranged or touch-based.</th>
    </tr>
    <tr>
        <th>Threat Level</th>
        <th>Estimation</th>
    </tr>
    <tr>
        <td>2+</td>
        <td>
            <ul>
                <li>
                    The team is notified as to the Striker classification.
                </li>
                <li>
                    The formation should maintain a set distance.
                </li>
                <li>
                    Foam sprayers are authorized.
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>5+</td>
        <td>
            <ul>
                <li>
                    Truck mounted foam sprayers and net guns are authorized.
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>