<table>
    <tbody>
    <tr>
        <th colspan="2">Focuses on information gathering.</th>
    </tr>
    <tr>
        <th>Threat Level</th>
        <th>Estimation</th>
    </tr>
    <tr>
        <td>2+</td>
        <td>
            <ul>
                <li>
                    The team is notified of a Thinker classification.
                </li>
                <li>
                    Communication should be limited and the thinker should be cut off from teammates where possible.
                </li>
                <li>
                    Encrypted or coded communications may be necessary.
                </li>
                <li>
                    Failing that, the operation may need to be silent (noncommunicative team).
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>5+</td>
        <td>
            <ul>
                <li>
                    Maximum disruption to the senses, with flashbangs and nonlethal truck emplacements put into regular effect.
                </li>
                <li>
                    Truck-mounted emplacements may be necessary to apply sufficient All possible measures should be undertaken to keep the thinker threat from communicating.
                </li>
                <li>
                    Pre-prepared thinker countermeasures (false information) should be put into play.
                </li>
                <li>
                    PRT thinkers should be contacted remotely to maximize counter-thinking.
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>9+</td>
        <td>
            <ul>
                <li>
                    The head office should be contacted to discuss needs and available resources.
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>