<table>
    <tbody>
    <tr>
        <th colspan="2">Can create or alter devices with futuristic technology.</th>
    </tr>
    <tr>
        <th>Threat Level</th>
        <th>Estimation</th>
    </tr>
    <tr>
        <td>2+</td>
        <td>
            <ul>
                <li>
                    The team is notified of a Tinker classification.
                </li>
                <li>
                    Disruption with the use of flashbangs is encouraged.
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>5+</td>
        <td>
            <ul>
                <li>
                    Electromagnetic pulses are authorized to disrupt gear, with some likely property damage.
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>9+</td>
        <td>
            <ul>
                <li>
                    Other Tinkers or liaisons are contacted to better inform about capabilities and to answer immediate threats.
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>