<h1><%= people.join(" ,"); %></h1>

<form action="/users" method="post">
    <label>Name<input name="name" type="text" ng-model="classification"></label>
    <button type="submit">Post</button>
</form>