<div class="form-group">
    <label for="cape-classes">Classifications</label>
    <div id="cape-classes"
         class="row">
        <div class="col-xs-6">
            <select class="form-control">
                <option>Mover</option>
                <option>Shaker</option>
                <option>Brute</option>
                <option>Breaker</option>
                <option>Master</option>
                <option>Tinker</option>
                <option>Blaster</option>
                <option>Thinker</option>
            </select>
        </div>
        <div class="col-xs-8">
            <input type="number"
                   id="class-power-level"
                   min="-3" max="13" step="1" value="0"
                   class="form-control">
        </div>
    </div>

</div>