<div class = "container">
    <h2>About PRT Database</h2>

    <p>
        PRT Database is meant to store the profiles of all types of heroes and villains, really anything with super powers,
        using the classification system of the PRT, a fictional government agency from the story Worm. (todo: Link to Worm paragraph)
    </p>
    <p>
        PRT Database (Originally Capenet) is a project I started in June of
    2017 to learn some more about the MEAN stack (TODO: Link this), and how to develop and deploy for it.
    </p>

    <p>
        PRT Database is inspired by Worm, from parahumans.com.
        Its a fantastic super hero story, and I would really recommend giving it a read. (TODO: Link)
        Worm follows Taylor Hebert, a teenage girl who has just gotten super powers,
        as she has to live in a world with super heroes and villains. It draws a lot of its drama from the
        real life effects of super powers showing up in the modern day, How people abuse them, how people
        threaten and kill others with them, and what the government can (Or can not) do about it.
    </p>

</div>