<div class = "container">
    <h1>Search</h1>
    <form>
        <div class="form-group">
            <label for="cape-name">Name</label>
            <input class="form-control"
                   type="text"
                   id= "cape-name"
                   placeholder="Name"
                   ng-model="name">
        </div>
        <div class = "form-group">
            <label for="cape-theme">Power/Shard Theme</label>
            <input class="form-control"
                   type="text"
                   id="cape-theme"
                   placeholder="Theme"
                   ng-model ="powerTheme">
        </div>
    </form>
    <input type="submit" ng-click="submitSearch()" value = "Search" />
    <div class="col-sm-9">
        <md-lists>
            <md-list-items ng-repeat="item in searchResults">
                <a href="#capeview/id/{{item._id}}">{{item.name}}</a> {{item.creator}}
            </md-list-items>
        </md-lists>
    </div>
</div>