<div class="container" ng-init="loadCapeList()">
    <md-list>
        <md-list-item ng-repeat="capes in capeList">
            <div class = "row">
                <div class="col-sm-9">
                    <a href="#capeview/id/{{capes._id}}">{{capes.name}}</a>
                    <div class="row">
                        <div class="col-xs-8 col-sm-6">
                            Theme: {{capes.powerTheme}}
                        </div>
                        <div class="col-xs-8 col-sm-6">
                            Creator: {{capes.creator}}
                        </div>
                    </div>

                </div>
                <div class="col-sm-9">
                    <md-lists>
                        <md-list-items ng-repeat="power in capes.powers">
                            {{power.classification}} {{power.rating}}
                        </md-list-items>
                    </md-lists>
                </div>
                <div class="col-sm-9">
                    <p>{{capes.description}}</p>
                </div>
            </div>
        </md-list-item>
    </md-list>
</div>