<div class = "container">
    <form>
        <div ng-include= "'views/pieces/capename.html'"></div>
        <div ng-include= "'views/pieces/capetheme.html'"></div>
        <div ng-include= "'views/pieces/powerselection.html'"></div>
        <div ng-include= "'views/pieces/capepowerdescription.html'"></div>
    </form>

    <div ng-include="'views/pieces/poweradd.html'"></div>
    <input type="submit" ng-click="submit()" value = "Save" />
    <div id="delete-div">
        <input type="submit" ng-click="verifyDelete()" value = "Delete this Cape"/>
    </div>
</div>