<div class = "container">
    <form>

        <div ng-include= "'views/pieces/capename.html'"></div>
        <div ng-include= "'views/pieces/capetheme.html'"></div>
        <div ng-include= "'views/pieces/powerselection.html'"></div>
        <div ng-include= "'views/pieces/capepowerdescription.html'"></div>

    </form>
    <p>Points Remaining: {{points}}</p>
    <p>Classes rolled: {{numClasses}}</p>
    <input type="submit" ng-click="submit()" value = "Save" />
    <input type="submit" ng-click="lazyInit()" value = "Lazy Init (Remove)"/>
    <input type="submit" ng-click="addPowerClass()" value = "Add additional Rating"/>
    <input type="submit" ng-click="randomPower()" value = "Random Power" />
    <p>{{message}}</p>
</div>