<!DOCTYPE html>
<html lang="en" ng-app="capenet">
<head>
    <meta charset="UTF-8">
    <title>Caped Creations</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin = "anonymous" rel ="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.min.js"></script>

    <script src="javascripts/capenet.js"></script>

</head>

<body>

<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/"> Cape Net </a>
                <p>{{username}} | <a ng-click = logout()>Log Out</a></p>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#signin"><i class="fa fa-home"></i> Sign-In</a></li>
                <li><a href="#capes"><i class="fa fa-home"></i> Capes</a></li>
                <li><a href="#capecreation"><i class="fa fa-home"></i>Make a Cape</a></li>
                <li><a href="#randomcape"><i class="fa fa-home"></i>Random Cape</a></li>
                <li><a href="#capesearch"><i class="fa fa-home"></i>Cape Search</a></li>
            </ul>
        </div>
    </nav>
</header>

<div id="main">
    <div ng-view>

    </div>
</div>
<script src="javascripts/preload.js"></script>
<script src="javascripts/home.js"></script>
<script src="javascripts/signin.js"></script>
<script src="javascripts/capes.js"></script>
<script src="javascripts/capecreation.js"></script>
<script src="javascripts/randomcape.js"></script>
<script src="javascripts/capesearch.js"></script>
<script src="javascripts/capeview.js"></script>
<script src="javascripts/capeedit.js"></script>
</body>
</html>